<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap" rel="stylesheet">
</head>
<body>
    <div class="intro-text" >
        <h1 >KLUBA Lielais brauciens</h1>

        <p>Augusta svelmē dosim startu jau sestajam auto testam. Turpinām uzticēties Paula Timrota vadībai un aizraujošajiem maršrutiem, ceļā dodoties kopā ar 10 KLUBA lasītājiem.
        Iesūnot nav veselīgi, tāpēc arī mūsu autoparks iet līdzi laikam un atspoguļo jaunākās industrijas tendences. 
        Teju puse šāgada testa modeļu darbināmi tikai ar elektrību. Par klasiskajām vērtībām aizmirsuši neesam būs arī mehāniskā transmisija. Izvēle visām gaumēm!</p>
        <h2 >Piesakies!</h2>

    </div>
    
    <div class="bullet1">
        <img src="assets/bullet-left.png" alt="bullet">
    </div>

    <div class="bullet2">
        <img src="assets/bullet-left.png" alt="bullet">
    </div>

    <div class ="video">  
        <youtube-player videoId="V2NC_WXRrYU"></youtube-player>
    </div>
        
    
</body>
</html>
