<div>
    <form action="action_page">
      <label for="fname">Vārds</label>
      <input type="text" id="fname" name="firstname" placeholder="Jūsu vārds..">
  
      <label for="lname">Uzvārds</label>
      <input type="text" id="lname" name="lastname" placeholder="Jūsu uzvārds..">
  
      <label for="country">Stāžs</label>
      <select id="country" name="country">
        <option value="1">Mazāk par 5 gadi</option>
        <option value="2">No 5 līdz 10 gadi</option>
        <option value="3">Vairāk par 10</option>
      </select>
    
      <input type="submit" value="Submit">
    </form>
  </div>