
<div class="ani" *ngFor="let animal of lst">
    <p>{{animal.name}}</p>
    <p>{{animal.age}}</p>
    <p>{{animal.breed}}</p>
    <img {{[src]="picture"}} >
    
</div>

<div class="animalNumber">
    <input type="text" placeholder="Enter animal number" [(ngModel)]="textInput1">
    <button (click)="buttnClick">Submit</button>

</div>
<div class="changeName">
    <input type="text" placeholder="Change animal Name" [(ngModel)]="textInput2">
    <button (click)="buttnClickChange">Change</button>
</div>

