.header {
    overflow: hidden;
    background-color: #d28686;
    padding: 20px 10px;
  }
  .header a {
    float: left;
    color: rgb(39, 45, 6);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  .header a.active {
    background-color: rgb(234, 218, 232);
    color: rgb(196, 39, 39);
  }
  .header-right {
    float: right;
  }
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }