<div>
    <a class = "button" 
    routerLink="/saskaitit"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">
    Saskaitīt
    </a>
    <a class = "button" 
    routerLink="/atnemt" 
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">
    Atņemt
    </a>
    <a class = "button" 
    routerLink="/reizinat" 
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">
    Reizināt
    </a>
    <a class = "button" 
    routerLink="/dalit" 
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">
    Dalīt
</a>
</div>


